<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户中心</title>
	<link rel="stylesheet" type="text/css" href="../../../QQ文件/1792391901/FileRecv/Node.js零基础入门到高级进阶/资料/day13/other/项目资料/前端静态资料/news/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../../QQ文件/1792391901/FileRecv/Node.js零基础入门到高级进阶/资料/day13/other/项目资料/前端静态资料/news/css/jquery.pagination.css">
    <link rel="stylesheet" type="text/css" href="../../../QQ文件/1792391901/FileRecv/Node.js零基础入门到高级进阶/资料/day13/other/项目资料/前端静态资料/news/css/main.css">
    <script type="text/javascript" src="../../../QQ文件/1792391901/FileRecv/Node.js零基础入门到高级进阶/资料/day13/other/项目资料/前端静态资料/news/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="../../../QQ文件/1792391901/FileRecv/Node.js零基础入门到高级进阶/资料/day13/other/项目资料/前端静态资料/news/js/jquery.pagination.min.js"></script>
</head>
<body class="inframe_body">
    <div class="my_collect">
        <h3>我的收藏</h3>
        <ul class="article_list">
            <li><a href="#">智能音箱“不智能”：这次轮到三星语音助手Bixby被吐槽了</a><span>2018-1-17</span></li>
            <li><a href="#">智能音箱“不智能”：这次轮到三星语音助手Bixby被吐槽了</a><span>2018-1-17</span></li>
            <li><a href="#">智能音箱“不智能”：这次轮到三星语音助手Bixby被吐槽了</a><span>2018-1-17</span></li>
            <li><a href="#">智能音箱“不智能”：这次轮到三星语音助手Bixby被吐槽了</a><span>2018-1-17</span></li>
            <li><a href="#">智能音箱“不智能”：这次轮到三星语音助手Bixby被吐槽了</a><span>2018-1-17</span></li>
            <li><a href="#">智能音箱“不智能”：这次轮到三星语音助手Bixby被吐槽了</a><span>2018-1-17</span></li>
        </ul>



        <div id="pagination" class="page"></div>
        <script>
            $(function() {
                $("#pagination").pagination({
                    currentPage: 2,
                    totalPage: 3,
                    callback: function(current) {
                        alert('ok!');
                    }
                });
            });
        </script>

    </div>
</body>
</html>